<!DOCTYPE html>
<html lang="en">

<% include partials/header.ejs%>

<% include partials/nav.ejs%>

        <div class="container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Labs</th>
                <th scope="col">links</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Lab1</td>
                <td><a href="labs/lab1/index.html">Click here</a></td>
             
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Lab2</td>
                <td><a href="labs/lab2/index.html">Click here</a></td>
              
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Lab3</td>
                <td><a href="labs/lab3/index.html">Click here</a></td>
                
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Lab4</td>
                <td><a href="labs/lab4/index.html">Click here</a></td>
               
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Lab5</td>
                <td><a href="labs/lab5/index.html">Click here</a></td>
            
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Lab6</td>
                <td><a href="labs/lab6/index.html">Click here</a></td>
            
              </tr>
              
            </tbody>
          </table>
              </div>
  <% include partials/foot.ejs%>